name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main   # cada vez que hagas push a main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      # Si ya tienes compilación TS → public, no necesitas build extra
      # Si quisieras compilar aquí, podrías añadir npm install && npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
